RewriteEngine On

# Evitar recursión
RewriteCond %{REQUEST_URI} !^/amcad-portal/

# Redirigir todas las solicitudes a la carpeta amcad-portal conservando la ruta
RewriteRule ^(.*)$ amcad-portal/$1 [L]
